<div>
    <header>
        <h1>Blog</h1>
        <nav id="menu">
            <ul>
                <li><a href="#counter">COUNTER (DEFAULT)</a></li>
                <li><a href="#source">SOURCE</a></li>

            </ul>
        </nav>

    </header>

    <!-- router contents -->
    <main id="route">Loading...</main>

    <footer>
        <div fronty-component="LanguageControl" id="languagecontrol" model>Loading
            footer...</div>
    </footer>
</div>